body {
	margin: 0;
	border: dashed 1px red;
}

.header {
	padding: 40px 0;
	display: flex;
	justify-content: space-between;
}

.wrapper {
	margin: auto;
	width: 80%;
	border: dashed 1px red;
}

/*.logo,.menu {
	display: inline-block; 
	border: dashed 1px red;
}*/


.logo {
	//padding: 40px 0;
	/*margin-right: 63%;
	font:bold 24px/31px pt_serif,arial,helvetica,sans-serif; */
	width: 190px;
	height: 35px;
	background: url('img/logo.svg');
	}

.menu {
	display: flex;
	align-items: center;
}

div {
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px; 
color: black; }

.menu__item {
padding: 0 13px; 
border: dashed 1px red;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: black;
}
.menu__item: last-child {
padding-right:0; 
}

h1 {
font-family: PT Serif;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 66px;
display: flex;
align-items: center;
}

.main-content__subtitle {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}

button {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #FFFFFF;

position: absolute;
width: 209px;
height: 44px;
left: calc(50% - 209px/2 - 359.5px);
top: 531px;

background: #0056EC;
border-radius: 4px;
}